In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('../data/train.csv')
print(train_df.shape)
train_df.head()

(17010, 4)

,session_id,query,intent,slot_annotation
0,0,打电话给551,phone_call.make_a_phone_call,打电话给<phone_num>551</phone_num>
1,0,导航到乐至浙江省乐清市,navigation.navigation,导航到<destination>乐至浙江省乐清市</destination>
2,0,导航到浙江省乐清市翁垟镇,navigation.navigation,导航到<destination>浙江省乐清市翁垟镇</destination>
3,1,导航到长兴岛,navigation.navigation,导航到<destination>长兴岛</destination>
4,1,导航到中南路233号,navigation.navigation,导航到<destination>中南路233号</destination>

In [3]:
train_df['text_len'] = train_df['query'].apply(lambda x: len(x))

In [4]:
df_len_list = train_df.text_len.tolist()
sorted_len = sorted(df_len_list)
print(sorted_len[0], sorted_len[-1], sorted_len[int(len(sorted_len) * 0.995)])

1 47 24

In [6]:
train_df.intent.value_counts()

OTHERS                          5264
music.play                      5051
navigation.navigation           3165
phone_call.make_a_phone_call    2287
navigation.cancel_navigation     653
music.pause                      237
navigation.open                  188
music.next                       111
navigation.start_navigation       30
phone_call.cancel                 19
music.prev                         5
Name: intent, dtype: int64